* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* body {
  background-color: #000;
} */

.slideshow {
  width: 100%;
  /* height: 100vh; */
  position: relative;
  overflow: hidden;
}

.slideshow-item {
  width: inherit;
  /* height: inherit; */
  position: absolute;
  /* opacity: 0; */
  animation: slideImages 31s infinite;
}

.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideshow-item-text {
  max-width: 60%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(60%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 40px 70px;
}

.slideshow-item-text h5 {
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 8px;
}

.slideshow-item-text p {
  font-size: 15px;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

@keyframes slideImages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

.container_down {
  position: absolute;
  top: 62%;
  left: 0;
  transform: translateY(-70%) translateX(200%);
}
