* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn {
  padding: 1.3rem 3rem;
  font-size: 1.4rem;
}

.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}
.btn {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.btn:hover {
  transform: scale(1.05);
}
